body{
    display: block;
    text-align: center;
    background-color:tan;
}
label{
    display: block;
    padding: 30px;
    text-align: center;
}
.container{
    background-color: green;
    margin: 0px 80px 0px 80px;
    padding: 450;
    border-radius: 30px;
    color: red(47, 0, 255);
    font-family: Georgia, 'Times  New Roman', Times, serif;
}

button{
    display:block;
    margin:30px;
    background-color: brown;
}
